@model IEnumerable<LibrarySystemV4ForeignKeys.Models.ApplicationUser>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Users";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>All <span>Users</span></h1>
        <h2>Here are currently all users of the library</h2>
        <div class="d-flex">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>

                        <th>Remove | Contact </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>


                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id">Remove |</a>
                                <a asp-action="" asp-route-id="@item.Email"><a href="mailto:@item.Email">Contact</a></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</section><!-- End Hero -->


